<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="arraySize">
      </div>
      <div class="selectNum">
        <input type="number" id="inputNum" min="1" max="20">
        <button class="addBtn">add</button>
        <button class="addBtn randomBtn">random</button>
        <span class="alert2"></span>
      </div>
      <div class="selectSort">
        <div class="bubble lightBlue">Bubble Sort</div>
        <div class="insertion lightBlue">Insertion Sort</div>
        <div class="selection lightBlue">Selection Sort</div>
        <div class="merge lightBlue">Merge Sort</div>
      </div>
      <div class="startWrapper">
        <button class="start">Start!</button>
      </div>
    </div>
    <div class="content">
      <div class="innerBox"></div>
    </div>
  </div>
</body>
</html>
